[Desktop Entry]
Version=1.0
Type=Application
Name=Theme: Kiss
Comment=Kiss Style for XFCE Desktop
Exec=/usr/share/packarch/styles/Kiss.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
