[Desktop Entry]
Version=1.0
Type=Application
Name=Theme: Nord 
Comment=Nord Style for XFCE Desktop
Exec=/usr/share/packarch/styles/Nord.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
