[Desktop Entry]
Version=1.0
Type=Application
Name=Theme: Beach 
Comment=Beach Style for XFCE Desktop
Exec=/usr/share/packarch/styles/Beach.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
