[Desktop Entry]
Version=1.0
Type=Application
Name=Theme: Manhattan 
Comment=Manhattan Style for XFCE Desktop
Exec=/usr/share/packarch/styles/Manhattan.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
