[Desktop Entry]
Type=Action
Tooltip=Edition
Name=Edition
Profiles=profile-zero;
Icon=document-edit-sign

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles;
Exec=geany -i %f
Name=Default profile
SelectionCount==1
