[Desktop Entry]
Version=1.0
Type=Application
Name=Screenshots
Comment=
Exec=/usr/share/packarch/xmenu/xmenu_screenshots.sh
Icon=emblem-photos
Path=
Terminal=false
StartupNotify=false
