[Desktop Entry]
Version=1.0
Type=Application
Name=Commandes
Comment=
Exec=/usr/share/packarch/xmenu/xmenu_cmds.sh
Icon=utilities-terminal_su
Path=
Terminal=false
StartupNotify=false
